<?xml version="1.0"?>
<!--

  Copyright (c) 2016, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->
<robot name="talos" xmlns:xacro="http://ros.org/wiki/xacro"
        xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
        xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
        xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <xacro:arg name="enable_crane" default="false"/>
  <xacro:arg name="use_fixed_base" default="false"/>
  <xacro:arg name="use_sim" default="false"/>
  <xacro:arg name="multiple" default="false"/>
  <xacro:arg name="gazebo_version" default="classic"/>
  <xacro:arg name="use_capsule_collision" default="false"/>
  <xacro:arg name="disable_gazebo_camera" default="false"/>
  <xacro:arg name="include_gazebo" default="true"/>
  <xacro:arg name="include_ros2_control" default="true"/>
  <xacro:arg name="include_materials" default="true"/>
  <xacro:arg name="include_grippers" default="true"/>
  <xacro:arg name="floating_joint" default="false"/>
  <xacro:arg name="use_abs_mesh_paths" default="false"/>
  <xacro:arg name="use_local_filesys_for_meshes" default="false"/>

  <xacro:property name="is_multiple" value="$(arg multiple)" />
  <xacro:property name="gazebo_version" value="$(arg gazebo_version)" />
  <xacro:property name="USE_ABS_MESH_PATHS" value="$(arg use_abs_mesh_paths)" />
  <xacro:property name="USE_LOCAL_FILESYS_FOR_MESHES" value="$(arg use_local_filesys_for_meshes)" />

  <xacro:if value="${USE_ABS_MESH_PATHS}">
    <xacro:if value="${USE_LOCAL_FILESYS_FOR_MESHES}">
      <xacro:property name="MESH_PATH" value="file://${ROOT}/meshes" />
    </xacro:if>
    <xacro:unless value="${USE_LOCAL_FILESYS_FOR_MESHES}">
      <xacro:property name="MESH_PATH" value="${ROOT}/meshes" />
    </xacro:unless>
  </xacro:if>
  <xacro:unless value="${USE_ABS_MESH_PATHS}">
    <xacro:property name="MESH_PATH" value="package://talos_description/meshes" />
  </xacro:unless>

  <xacro:if value="$(arg enable_crane)">
    <xacro:include filename="${ROOT}/urdf/crane/crane.urdf.xacro" />
  </xacro:if>
  <xacro:include filename="${ROOT}/urdf/capsule_collision.xacro" />
  <xacro:include filename="${ROOT}/urdf/torso/torso.urdf.xacro" />
  <xacro:include filename="${ROOT}/urdf/head/head.urdf.xacro" />
  <xacro:include filename="${ROOT}/urdf/arm/arm.urdf.xacro" />
  <xacro:include filename="${PAL_URDF_UTILS_ROOT}/urdf/ft_sensors/ati_talos.urdf.xacro" />
  <xacro:if value="$(arg include_grippers)">
    <xacro:include filename="${ROOT}/urdf/gripper/gripper.urdf.xacro" />
  </xacro:if>
  <xacro:include filename="${ROOT}/urdf/leg/leg.urdf.xacro" />
  <xacro:include filename="${ROOT}/urdf/leg/foot_collision_$(arg foot_collision).urdf.xacro" />
  <xacro:include filename="${TALOS_DESCRIPTION_INERTIAL_ROOT}/urdf/inertial.xacro" />
  <xacro:include filename="${ROOT}/urdf/extras/addons.urdf.xacro" />

  <xacro:if value="$(arg include_ros2_control)">
    <xacro:include filename="${ROOT}/ros2_control/ros2_control.urdf.xacro" />
  </xacro:if>
  <xacro:if value="$(arg include_gazebo)">
    <xacro:include filename="${ROOT}/gazebo/gazebo.urdf.xacro" />
  </xacro:if>
  <xacro:if value="$(arg include_materials)">
    <xacro:include filename="${ROOT}/urdf/materials.urdf.xacro" />
  </xacro:if>


  <!-- Fixed world frame -->
  <xacro:if value="$(arg use_fixed_base)">
    <link name="world"/>
    <joint name="world_fixed" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="world"/>
        <child link="base_link"/>
    </joint>
  </xacro:if>
  <xacro:if value="$(arg floating_joint)">
    <xacro:unless value="$(arg use_fixed_base)">
      <link name="world"/>
      <joint name="reference" type="floating">
        <parent link="world"/>
        <child link="base_link"/>
      </joint>
    </xacro:unless>
  </xacro:if>

  <xacro:talos_torso name="torso"/>

  <xacro:if value="$(arg enable_crane)">
    <xacro:crane parent="torso_2_link"/>
  </xacro:if>

  <xacro:talos_head name="head" parent="torso_2_link"
                    disable_gazebo_camera="$(arg disable_gazebo_camera)"
                    head_type="$(arg head_type)"/>

  <xacro:talos_arm name="arm" parent="torso_2_link" side="left" reflect="1"/>
  <xacro:talos_arm name="arm" parent="torso_2_link" side="right" reflect="-1"/>

  <xacro:ft_sensor name="wrist" parent="arm_right_7_link" side="right" reflect="1"  />
  <xacro:ft_sensor name="wrist" parent="arm_left_7_link"  side="left"  reflect="-1" />
  <xacro:if value="$(arg include_grippers)">
    <xacro:talos_gripper name="gripper_left" parent="wrist_left_ft_tool_link" reflect="1"/>
    <xacro:talos_gripper name="gripper_right" parent="wrist_right_ft_tool_link" reflect="-1"/>
  </xacro:if>

  <xacro:talos_leg prefix="left"  reflect="1" flexibility="$(arg flexibility)"/>
  <xacro:talos_leg prefix="right" reflect="-1" flexibility="$(arg flexibility)"/>

  <xacro:talos_addons/>
  <xacro:if value="$(arg include_gazebo)">
    <xacro:talos_gazebo/>
  </xacro:if>
  <xacro:if value="$(arg include_materials)">
    <xacro:talos_materials/>
  </xacro:if>
  <xacro:if value="$(arg include_ros2_control)">
    <xacro:talos_ros2_control use_sim="$(arg use_sim)"/>
  </xacro:if>

</robot>
